.button {
  display: inline-block;
  text-align: center;

  border-radius: 0.25rem;
  line-height: 1.5;
  padding: 0.5rem 1rem;
  border: 1px solid transparent;

  font-size: 1rem;
  font-weight: 400;
  background-color: #ccd5a1;

  cursor: pointer;
}

.button:hover {
  background-color: #c3de69;
  border-color: #97ae4a;
}

.button-link {
  padding: 0;
  border-color: transparent;

  background-color: transparent;
  color: #556227;
}

.button-link:hover {
  border-color: transparent;

  color: #86a329;
  background-color: transparent;

  text-decoration: underline;
}